TP2_multiplataformas/Content/plateosaurus/cuadro_6/textures/material_0_specularGlossiness.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/textures/material_0_occlusion.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/textures/material_0_normal.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/textures/material_0_diffuse.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/scene/Textures/material_0_specularGlossiness.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/scene/Textures/material_0_occlusion.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/scene/Textures/material_0_normal.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/scene/Textures/material_0_diffuse.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/scene/StaticMeshes/scene.uasset
TP2_multiplataformas/Content/plateosaurus/cuadro_6/scene/Materials/material_0.uasset
TP2_multiplataformas/Content/sarcofago_2/scene/SkeletalMeshes/scene.uasset
TP2_multiplataformas/Content/Música_del_Antiguo_Egipto_____Ancient_Egyptian_Music.uasset
